.container{
width: 100%;
margin: 0 auto;

}

.retangulo{
    background-color: blue;
    width: 393px;
    height: 59px;
}

.moeda{
width: 50px;
height: 50px;
    
}
.moeda img{
    width: 100%;
}

.foto{
width: 393px;
height: 350px;
}
.foto img{
    width: 100%;
    width: 393px;
    height: 350px;
}

.quadradofundo{
    background-color: gainsboro;
    width: 390px;
    height: 696px;
    border-radius: 34px;
   margin-top: 20px;

}

.foto2{
    width: 169px;
    height: 164px;
}

.foto2 img{
    width: 100%;
    width: 169px;
    height: 164px;
    
}