.container{
width: 100%;
margin: 0 auto;

}

.retangulo{
    background-color: blue;
    width: 393px;
    height: 59px;
}

.moeda{
width: 50px;
height: 50px;
    
}
.moeda img{
    width: 100%;
}

.foto{
width: 393px;
height: 350px;
}
.foto img{
    width: 100%;
    width: 393px;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.quadradofundo{
    background-color: gainsboro;
    width: 390px;
    height: 696px;
    border-radius: 34px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   padding: 30px 0;
   gap: 20px;
   flex-direction: column;

}

.foto2{
    width: 169px;
    height: 164px;
    
}

.foto2 img{
    
    width: 169px;
    height: 164px;
    
    
}

.foto3{
    width: 169px;
    height: 164px;
    
}
.foto3 img{
    width: 169px;
    height: 164px;
}

.foto4{
    width: 169px;
    height: 164px;
}
.foto4 img{
    width: 169px;
    height: 164px;
}

.quadradofundo2{
    background-color: gainsboro;
    width: 390px;
    height: 696px;
    border-radius: 34px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   padding: 30px 0;
   gap: 20px;

}
.foto22{
    width: 169px;
    height: 164px;
    
}

.foto22 img{
    
    width: 169px;
    height: 164px;
    
    
}

.foto33{
    width: 169px;
    height: 164px;
    
}
.foto33 img{
    width: 169px;
    height: 164px;
}

.foto44{
    width: 169px;
    height: 164px;
}
.foto44 img{
    width: 169px;
    height: 164px;
}

.quadradofundo3{
    background-color: gainsboro;
    width: 390px;
    height: 696px;
    border-radius: 34px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   padding: 30px 0;
   gap: 20px;

}
.foto222{
    width: 169px;
    height: 164px;
    
}

.foto222 img{
    
    width: 169px;
    height: 164px;
    
    
}

.foto333{
    width: 169px;
    height: 164px;
    
}
.foto333 img{
    width: 169px;
    height: 164px;
}

.foto444{
    width: 169px;
    height: 164px;
}
.foto444 img{
    width: 169px;
    height: 164px;
}

.quadradobaixo{
    background-color: blue;
    width: 389px;
    margin-top: 20px;
    display: flex;
   justify-content: center;
   padding: 200px 0;
   gap: 30px;
}
.youtube{
    width: 123px;
    height: 96px;
}
.youtube img{
    width: 100%;
}

.instagram{
    width: 123px;
    height: 96px;
}

.instagram img{
    width: 100%;
}